#### Задание 1

Импортируйте библиотеки pandas и numpy.

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

In [4]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [5]:
data = boston.data

In [6]:
data.shape

(506, 13)

In [7]:
data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [8]:
target = boston.target

In [9]:
feature_names = boston.feature_names

In [10]:
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [11]:
X = pd.DataFrame(data, columns=feature_names)

In [12]:
X.sample(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
471,4.03841,0.0,18.10,0.0,0.532,6.229,90.7,3.0993,24.0,666.0,20.2,395.33,12.87
225,0.52693,0.0,6.20,0.0,0.504,8.725,83.0,2.8944,8.0,307.0,17.4,382.00,4.63
170,1.20742,0.0,19.58,0.0,0.605,5.875,94.6,2.4259,5.0,403.0,14.7,292.29,14.43
421,7.02259,0.0,18.10,0.0,0.718,6.006,95.3,1.8746,24.0,666.0,20.2,319.98,15.70
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [13]:
X.shape

(506, 13)

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [15]:
y = pd.DataFrame(target, columns=['price'])

In [16]:
y.sample(5)

     price
296   27.1
134   15.6
175   29.4
399    6.3
80    28.0

In [17]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

#### Разбиение данных на тренировочные и тестовые датасеты

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

#### Построение модели линейной регрессии

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(X_train, y_train)

LinearRegression()

In [23]:
y_pred = lr.predict(X_test)

In [24]:
check_test = pd.DataFrame({'y_test': y_test['price'],
                           'y_pred': y_pred.flatten()},
                          columns=['y_test', 'y_pred'])

In [25]:
check_test.sample(10)

     y_test     y_pred
140    14.0  14.078599
93     25.0  29.350436
245    18.5  12.917294
477    12.0  10.738287
11     18.9  21.312405
31     14.5  17.809466
225    50.0  39.983425
271    25.2  27.443191
418     8.8   3.379371
409    27.5  19.010461

#### Вычисление метрики $R^2$

In [26]:
from sklearn.metrics import r2_score

In [27]:
r2_score(y_test, y_pred)

0.7112260057484943

#### Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

Сделайте предсказание на тестовых данных и посчитайте $R^2$. Сравните с результатом из предыдущего задания.

Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [28]:
from sklearn.ensemble import RandomForestRegressor

In [29]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [31]:
clf.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [33]:
y_pred_clf = clf.predict(X_test)
check_test_clf = pd.DataFrame({
    "Y_test": y_test["price"], 
    "Y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

     Y_test  Y_pred_clf
173    23.6   22.806412
274    32.4   31.131464
491    13.6   16.339125
72     22.8   23.810726
452    16.1   17.139521

In [35]:
r2_score(y_test, y_pred_clf)

0.87472606157312

Алгоритм "Случайный лес" показывает более точные результаты, чем "линейная регрессия".

#### * Задание 3
Вызовите документацию для класса , найдите информацию об атрибуте feature_importances_.

С помощью этого атрибута найдите сумму всех показателей важности, установите, какие два признака показывают наибольшую важность.

In [36]:
print(clf.feature_importances_)

[0.03167574 0.00154252 0.00713813 0.00123624 0.01426897 0.40268179
 0.01429864 0.06397257 0.00528122 0.01152493 0.01808108 0.01245085
 0.41584732]

In [37]:
feature_importance = pd.DataFrame({'name':X.columns, 
                                   'feature_importance':clf.feature_importances_}, 
                                  columns=['feature_importance', 'name'])
feature_importance

    feature_importance     name
0             0.031676     CRIM
1             0.001543       ZN
2             0.007138    INDUS
3             0.001236     CHAS
4             0.014269      NOX
5             0.402682       RM
6             0.014299      AGE
7             0.063973      DIS
8             0.005281      RAD
9             0.011525      TAX
10            0.018081  PTRATIO
11            0.012451        B
12            0.415847    LSTAT

In [38]:
feature_importance.nlargest(2, 'feature_importance')

    feature_importance   name
12            0.415847  LSTAT
5             0.402682     RM

#### * Задание 4
В этом задании мы будем работать с датасетом, с которым мы уже знакомы по домашнему заданию по библиотеке Matplotlib, это датасет Credit Card Fraud Detection.

Для этого датасета мы будем решать задачу классификации - будем определять, какие из транзакциции по кредитной карте являются мошенническими.

Данный датасет сильно несбалансирован (так как случаи мошенничества относительно редки), так что применение метрики accuracy не принесет пользы и не поможет выбрать лучшую модель.

Мы будем вычислять AUC, то есть площадь под кривой ROC.

Импортируйте из соответствующих модулей RandomForestClassifier, GridSearchCV и train_test_split.

Загрузите датасет creditcard.csv и создайте датафрейм df.

С помощью метода value_counts с аргументом normalize=True убедитесь в том, что выборка несбалансирована.

Используя метод info, проверьте, все ли столбцы содержат числовые данные и нет ли в них пропусков.

Примените следующую настройку, чтобы можно было просматривать все столбцы датафрейма:

pd.options.display.max_columns = 100.

Просмотрите первые 10 строк датафрейма df.

Создайте датафрейм X из датафрейма df, исключив столбец Class.

Создайте объект Series под названием y из столбца Class.

Разбейте X и y на тренировочный и тестовый наборы данных при помощи функции train_test_split, используя аргументы: test_size=0.3, random_state=100, stratify=y.

У вас должны получиться объекты X_train, X_test, y_train и y_test.

Просмотрите информацию о их форме.

Для поиска по сетке параметров задайте такие параметры:

parameters = [{'n_estimators': [10, 15],

'max_features': np.arange(3, 5),

'max_depth': np.arange(4, 7)}]

Создайте модель GridSearchCV со следующими аргументами:

estimator=RandomForestClassifier(random_state=100),

param_grid=parameters,

scoring='roc_auc',

cv=3.

Обучите модель на тренировочном наборе данных (может занять несколько минут).

Просмотрите параметры лучшей модели с помощью атрибута best_params_.

Предскажите вероятности классов с помощью полученнной модели и метода predict_proba.

Из полученного результата (массив Numpy) выберите столбец с индексом 1 (вероятность класса 1) и запишите в массив y_pred_proba.

Из модуля sklearn.metrics импортируйте метрику roc_auc_score.

Вычислите AUC на тестовых данных и сравните с результатом, полученным на тренировочных данных, используя в качестве аргументов массивы y_test и y_pred_proba.

In [39]:
df = pd.read_csv('creditcard.csv')

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [41]:
df['Class'].value_counts(normalize=True)

0    0.998273
1    0.001727
Name: Class, dtype: float64

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [43]:
pd.options.display.max_columns=100

In [44]:
df.sample(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
249090,154243.0,1.979522,-0.671424,0.081235,0.506173,-1.273404,-0.480875,-1.050553,0.181290,1.806719,0.046926,-1.428467,-0.937555,-2.302823,0.115066,0.795224,0.680865,-0.444266,0.288465,-0.220464,-0.357879,-0.034678,-0.015841,0.346190,-0.070675,-0.635391,0.367293,-0.017302,-0.043588,2.99,0
238077,149514.0,-1.129492,1.266886,0.109950,-0.977285,0.663808,-0.680604,0.912067,0.412865,-0.748936,-1.640653,0.498632,-0.327973,-1.342372,-0.115498,-0.098940,0.729821,0.160577,1.356616,-0.403628,-0.182495,0.278101,0.531869,-0.585548,-0.567417,1.100017,-0.014378,-0.132894,-0.016149,40.10,0
211825,138586.0,-1.488415,-1.573599,2.979207,-0.919283,-0.194540,0.833385,-1.381581,0.551329,0.252518,-0.567174,-2.215147,0.659332,1.584742,-1.853349,-1.982409,-1.651844,0.151527,1.418351,-0.429991,0.070389,-0.177544,0.006413,-0.041887,0.552322,0.480067,0.839947,0.036200,0.100985,75.00,0
114810,73626.0,-2.345009,0.523187,1.720713,0.045911,-0.333521,1.726977,-1.352383,1.891821,0.077412,-0.714371,1.501965,0.928058,-1.303332,0.619094,0.543519,-0.809448,1.319233,-1.367234,-1.189499,-0.122704,0.145314,0.447342,-0.137767,-0.789079,-0.122123,0.473104,0.275375,-0.073103,6.09,0
126169,77950.0,1.220077,0.333263,0.755726,0.737704,-0.650483,-1.272999,0.145330,-0.298545,-0.147120,-0.097469,0.435857,1.091166,1.248568,0.067387,0.880480,0.099469,-0.287892,-0.841772,-0.327259,-0.041146,-0.209527,-0.563152,0.188459,0.940849,0.180422,0.057926,-0.021984,0.026937,3.57,0
257983,158439.0,1.602295,-1.396613,-2.644241,-0.225319,-0.198107,-1.467050,0.888920,-0.630500,-1.407712,1.076163,0.720856,0.332755,-0.377643,1.032189,-1.019879,-2.066231,0.006975,1.166093,-0.510919,-0.020973,0.139161,0.287164,-0.362817,0.158317,0.334637,0.962143,-0.186731,-0.047502,321.55,0
153575,99499.0,-4.134781,-2.850170,0.464756,-0.660009,0.928801,-0.316480,-1.016989,0.290424,1.085982,0.467460,0.563202,-2.980515,0.954225,1.197286,-1.089441,-0.476324,-0.002252,2.540967,-0.316689,-2.845562,-1.009574,0.391730,2.021692,0.170788,0.360577,0.750796,0.024499,-1.028741,21.90,0
278062,168019.0,1.876852,-0.588538,-1.142854,0.642405,-0.080020,-0.068640,-0.057744,-0.045902,1.540631,-0.355492,-1.715085,0.488320,-0.611825,-0.185493,-1.416319,-0.875435,0.175285,-0.754106,0.785671,-0.112825,-0.333837,-0.767865,0.174959,0.460642,0.023653,-0.525345,-0.006182,-0.033689,83.37,0
8908,12223.0,-4.278453,3.232408,-0.012930,-2.160383,-0.338527,-0.789778,0.739323,-0.297975,5.061142,4.518605,0.037783,-3.713661,0.181062,-0.011519,0.353890,0.372108,-0.556509,0.048711,-1.024063,2.019362,-1.000195,-0.923305,-0.149275,-0.579095,0.434011,0.697841,1.074859,0.375250,15.38,0
206717,136334.0,0.059999,0.780852,-0.001915,-0.732588,0.755695,-0.760653,0.957771,-0.146221,0.043010,-0.400405,-1.587179,-0.218450,-0.113153,0.121885,-0.324055,0.119189,-0.645102,-0.490832,0.178105,-0.016939,-0.304222,-0.721474,-0.000287,-0.668764,-0.402739,0.181924,0.242492,0.090868,4.99,0

In [45]:
X = df.drop('Class', axis=1)

In [46]:
y = df['Class']

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100, stratify=y)

In [48]:
print('X_train ', X_train.shape)
print('X_test ', X_test.shape)
print('y_train ', y_train.shape)
print('y_test ', y_test.shape)

X_train  (199364, 30)
X_test  (85443, 30)
y_train  (199364,)
y_test  (85443,)

In [49]:
parameters = [{
    'n_estimators': [10, 15], 
    'max_features': np.arange(3, 5), 
    'max_depth': np.arange(4, 7)
}]

In [50]:
clf = GridSearchCV(
    estimator=RandomForestClassifier(random_state=100),
    param_grid=parameters,
    scoring='roc_auc',
    cv=3,
)

In [51]:
clf.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=100),
             param_grid=[{'max_depth': array([4, 5, 6]),
                          'max_features': array([3, 4]),
                          'n_estimators': [10, 15]}],
             scoring='roc_auc')

In [52]:
clf.best_params_

{'max_depth': 6, 'max_features': 3, 'n_estimators': 15}

In [53]:
clf = RandomForestClassifier(max_depth=6, max_features=3, n_estimators=15)

clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=6, max_features=3, n_estimators=15)

In [54]:
y_pred = clf.predict_proba(X_test)

In [55]:
y_pred_proba = y_pred[:, 1]

In [56]:
from sklearn.metrics import roc_auc_score

In [57]:
roc_auc_score(y_test, y_pred_proba)

0.9546194606001746